:root {
    --red: #c23449;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-image: url(/static/img/astro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

div#blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(50px);
    z-index: 0;
}

.slog {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 15px;
    font-size: large;
    background: linear-gradient(30deg, rgb(221, 79, 79), red, blue, rgb(39, 39, 196));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}

div.mini-container {
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
}

div.left {
    align-items: flex-start;
}

div.text-cont {
    width: 80%;
    padding: 20px;
}

div.icon-github {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

div.icon-github svg {
    fill: white;
    width: 250px;
}

div.log {
    display: flex;
    flex-direction: column;
    width: max-content;
}

div.input-token {
    background-color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.input {
    font-size: large;
    color: black;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

button.submit {
    background-color: var(--red);
    font-size: large;
    color: white;
    padding: 10px 20px;
}

.btn {
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    transition: all 200ms;
}

.btn:hover {
    opacity: 0.7;
}

.btn-github {
    margin-top: 20px;
    background-color: black;
    text-align: center;
    color: white;
}

.title {
    color: white;
}

.text-center {
    text-align: center;
}

.flex { display: flex; }
div.fl-dir-col { flex-direction: column; }
div.fl-dir-row { flex-direction: row; }
div.w-40 { width: 40%; }

div.search {
    border-radius: 60px;
}

.btn-circle {
    border-radius: 50%;
    font-size: large;
    background-color: black;
    color: white;
    padding: 10px 10px;
}

.select {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: large;
    border-radius: 10px;
    outline: none;
}

.btn-container {
    margin-top: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    div.mini-container {
        flex-direction: column;
    }

    div.main-content {
        width: 100%;
        padding: 0px;
    }

    .text-cont {
        width: 100%;
    }

    .icon-github {
        width: 90%;
    }

    .input {
        width: 60vw;
    }
}